</div><!-- Wrapper's end -->
<aside id="r_aside">
	<section class="r_aside">
		<h3>News</h3>
		<div class="block">
			<script src="/js/news.js"></script>
		</div>
	</section>
	<section class="r_aside">
		<h3>Collaborate</h3>
		<div class="block">
			<script src="/js/collaborate.js"></script>
		</div>
	</section>
	<section class="r_aside">
		<h3>Friends</h3>
		<div class="block">
			<script src="/js/friends.js"></script>
		</div>
	</section>
	<section class="r_aside">
		<h3>Other topics</h3>
		<div class="block">
			<script src="/js/other_topics.js"></script>
		</div>
	</section>
</aside>
