<footer id="w_footer">
	<section id="footer_lists">
		<div class="footer_nav" id="info_nav">
			<h3>Information</h3>
			<ul class="footer_nav_left">
				<li><a href="/en/information/participate/" title="Help us with this project!">Join us!</a></li>
				<li><a href="/en/information/contributors/" title="See our contributors">Contributors</a></li>
				<li><a href="/en/information/website/" title="Know more about our website">About this website</a></li>
			</ul>
		</div>
		<div class="footer_nav" id="contact_nav">
			<h3>Contact us</h3>
			<ul class="footer_nav_right">
				<li><a href="/en/contact/mail/" title="Join our mailing list!">Mailing list</a></li>
				<li><a href="/en/contact/reset/" title="Contact us via our contact form">Contact Reset</a></li>
				<li><a href="/en/contact/webmaster/" title="Contact our webmaster">Contact webmaster</a></li>
			</ul>
		</div>
	</section>
	<p class="copyright">
		Copyright © 2010-2013 Reset Students' Association
	</p>
</footer>
