<footer id="w_footer">
	<section id="footer_lists">
		<div class="footer_nav" id="info_nav">
			<h3>Información</h3>
			<ul class="footer_nav_left">
				<li><a href="/es/information/participate/" title="¡Ayúdanos con este proyecto!">¡Únete a nosotros!</a></li>
				<li><a href="/es/information/contributors/" title="Nuestros colaboradores">Colaboradores</a></li>
				<li><a href="/es/information/website/" title="Conoce más sobre esta página">Sobre esta página</a></li>
			</ul>
		</div>
		<div class="footer_nav" id="contact_nav">
			<h3>Contacto</h3>
			<ul class="footer_nav_right">
				<li><a href="/es/contact/mail/" title="¡Únete a nuestra lista de correo!">Lista de correo</a></li>
				<li><a href="/es/contact/reset/" title="Contacta con nosotros a través de nuestro formulario de contacto">Contacta con Reset</a></li>
				<li><a href="/es/contact/webmaster/" title="Contacta con el administrador de esta página">Contacta con el webmaster</a></li>
			</ul>
		</div>
	</section>
	<p class="copyright">
		Copyright © 2010-2013 Asociación de Estudiantes Reset
	</p>
</footer>
</div>
</body>
</html>
