<nav id="main_nav">
<ul>
	<li><a href="/es/" title="Página de inicio" class="nav_section">Inicio</a>
		<ul class="block">
			<li><a href="/es/calendar/" title="Calendario">Calendario</a></li>
			<li><a href="/es/forum/" title="Foro">Foro</a></li>
			<li><a href="/es/users/" title="Usuarios">Usuarios</a></li>
		</ul>
	</li>
	<li><a href="/es/projects/" title="Proyectos de Reset" class="nav_section">Proyectos</a>
		<ul class="block">
			<li><a href="/es/projects/all/" title="Todos los proyectos">Todos</a></li>
			<li><a href="/es/projects/current/" title="Proyectos en curso">En curso</a></li>
			<li><a href="/es/projects/cybertech/" title="Competición de Cybertech">Cybertech</a></li>
		</ul>
	</li>
	<li><a href="/es/workshops/" title="Talleres de Reset" class="nav_section">Talleres</a>
		<ul class="block">
			<li><a href="/es/workshops/all/" title="Todos los talleres, ordenados por puntuación">Todos</a></li>
			<li><a href="/es/workshops/upcoming/" title="Talleres que tendrán lugar próximamente">Próximos</a></li>
		</ul>
	</li>
	<li><a href="/es/free-software/" title="Software libre" class="nav_section">Software libre</a>
		<ul class="block">
			<li><a href="/es/free-software/distributions/" title="Distribuciones GNU/Linux">Distribuciones</a></li>
			<li><a href="/es/free-software/applications/" title="Aplicaciones de software libre">Aplicaciones</a></li>
		</ul>
	</li>
</ul>
</nav>
<div id="wrapper"><!-- Wrapper's begin -->
