<nav id="main_nav">
<ul>
	<li><a href="/en/" title="Home page" class="nav_section">Home</a>
		<ul class="block">
			<li><a href="/en/calendar/" title="Calendar">Calendar</a></li>
			<li><a href="/en/forum/" title="Forum">Forum</a></li>
			<li><a href="/en/users/" title="Users">Users</a></li>
		</ul>
	</li>
	<li><a href="/en/projects/" title="Reset projects" class="nav_section">Projects</a>
		<ul class="block">
			<li><a href="/en/projects/all/" title="All projects">All</a></li>
			<li><a href="/en/projects/current/" title="Current projects">Current</a></li>
			<li><a href="/en/projects/cybertech/" title="Cybertech competition">Cybertech</a></li>
		</ul>
	</li>
	<li><a href="/en/workshops/" title="Reset workshops" class="nav_section">Workshops</a>
		<ul class="block">
			<li><a href="/en/workshops/all/" title="All our workshops, sorted by rating">All</a></li>
			<li><a href="/en/workshops/upcoming/" title="Workshops to be held soon">Upcoming</a></li>
		</ul>
	</li>
	<li><a href="/en/free-software/" title="Reset workshops" class="nav_section">Free software</a>
		<ul class="block">
			<li><a href="/en/free-software/distributions/" title="GNU/Linux distributions">Distributions</a></li>
			<li><a href="/en/free-software/applications/" title="Free software applications">Applications</a></li>
		</ul>
	</li>
</ul>
</nav>
<div id="wrapper"><!-- Wrapper's begin -->
