/*********************************** Global ************************************/
/*
 * For lower resolutions (lower than 600px), we change the font size
 * to 80%:
 * --------------------------------------------------------------------- */
@media all and (max-width: 600px) { body { font-size: 80%; } }
/* --------------------------------------------------------------------- */

/********************************** Aside-Top **********************************/
#top { padding: .5em 1em .5em 1em; }
#top form label,
#top form.hide_low {
	display: none;
}

/******************************* Website's Header ******************************/
#w_header {
	margin-left: 2%;
	padding: 1em 0em;
}

/*********************************** Main Nav **********************************/
#main_nav {
	padding: 0 0 2.3em 0;
	clear: both;
	border-radius: 0;
	background: #000000;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
#main_nav a.nav_section { float: left; }
#main_nav ul ul li a { display: block; }
#main_nav ul ul {
	display: none;
	position: absolute;
	z-index: 0;
}
#main_nav ul ul {
	background: #000000;
	border: 1px solid #707070;
	border-top: none;
	border-radius: 0 0 1em 1em;
	z-index: 1;
}
#main_nav ul li {
	float: left;
	position: relative;
	background: #000000;
}
#main_nav ul a { padding: .5em 0 .5em .5em; }
#main_nav ul li:hover ul { display: block; }
#main_nav ul li:hover ul ul { display: none; }
#main_nav ul ul {
	left: 0;
	top: 100%;
}
#main_nav ul ul li {
	width: 10em;
}

/*********************************** Wrapper ***********************************/
#wrapper {
	clear: both;
	margin: 0 0 0 0;
}

/********************************* Participate *********************************/
#content nav.tabs_nav li.current,
#content nav.tabs_nav a {
	padding: .5em .5em;
}

/*********************************** Section ***********************************/
#content {
	border-radius: 0;
	border: none;
	box-shadow: none;
}
#content > header {
	border-radius: 0;
}
#content > footer {
	border-radius: 0;
}

/********************************** Aside-right ********************************/
#r_aside { display: none; }

/************************************ Footer ***********************************/
#w_footer {
	background: #000000;
	border-top: 1px solid #585858;
}
#w_footer #footer_lists {
	max-width: 28em;
	margin: 0 auto;
}
#w_footer div.footer_nav {
	float: left;
	width: 10em;
	margin: 2em;
}
/*
 * For lower resolutions (lower than 600px), we shrink the footer lists:
 * --------------------------------------------------------------------- */
@media all and (max-width: 600px) {
	#w_footer #footer_lists {
		max-width: 100em;
		margin: 0;
	}
	#w_footer #footer_lists h3 {
		display: inline;
		border: none;
	}
	#w_footer #footer_lists li { display: inline; }
	#w_footer #footer_lists li:after,
	#w_footer #footer_lists li:before {
		content: ' | ';
	}
	#w_footer div.footer_nav {
		float: none;
		width: auto;
		margin: 1em 1em;
	}
}
/* --------------------------------------------------------------------- */
